<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codegene.femicodes.cscprojectadmin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.AddManufacturer" />
        <activity
            android:name=".ui.activities.EditManufacturerActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.AddProductActivity" />
        <activity android:name=".ui.activities.AddNewsActivity" />
        <activity android:name=".ui.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ManufacturerDetailsActivity"
            android:label="@string/title_activity_manufacturer_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ProductDetailsActivity"
            android:label="@string/title_activity_product_details"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegene.femicodes.cscprojectadmin.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.NewsDetailsActivity"
            android:label="@string/title_activity_news_details"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codegene.femicodes.cscprojectadmin.ui.activities.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.ProduceBatch" />
        <activity
            android:name=".ui.activities.ReportDetailActivity"
            android:label="@string/title_activity_report_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>